<turbo-frame id="<%= params.fetch :turbo_frame, dom_id(@user, :tooltip) %>">
  <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar, width: 100, height: 100 %>
  <% end %>

  <p>
    <strong>Name:</strong>
    <%= link_to @user.name, @user %>
  </p>
</turbo-frame>
