<div id="<%= dom_id personal_reference %>" class="scaffold_record">
  <p>
    <strong>Name:</strong>
    <%= personal_reference.name %>
  </p>

  <p>
    <strong>Email address:</strong>
    <%= personal_reference.email_address %>
  </p>
</div>
